body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00619d;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #00619d;

}

.form-group input {
    width: 400px; /* Ajusta el ancho según tus necesidades */
}

label{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

html, body {
    height: 100%;
    overflow: hidden;
}