.row {
    background-color: #00619d;
    padding: 20px;
    color: white;
}


.bgn-custom {
    align-self: center;
}

.bg-custom {
    background-color: #00bf55;
    color: #00bf55;
    align-self: center;
    align-content: center;
}


.txt-custom {
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

#progressBar{
    background-color: #dae4e9;
    
    padding: 18px 0 18px 0px;

}

#progressBarPorcentaje{
    padding: 18px 0 18px 0px;
}

